vendor/**/*
.idea/**/*
.bundle/**/*
.local-mode-cache/**/*
.kitchen/**/*
vendor/**/*
.idea/**/*
.bundle/**/*
local-mode-cache/
Berksfile.lock
vendor/**/*
.idea/**/*
.bundle/**/*
vendor/**/*
.idea/**/*
.bundle/**/*
#attributes/ssh.rb
#attributes/default.rb
#attributes/contently.rb
